.container {
  max-height: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  height: 100%;

  margin: 0 0 0 3rem;
  @media only screen and (max-width: $bp-small) {
    margin: 0;
  }
  //   background-color: var(--color-grey-light-1);
  //   min-height: 100vh;

  //   @media only screen and (max-width: $bp-largest) {
  //     margin: 0;
  //     max-width: 100%;
  //     width: 100%;
  //   }

  display: flex;
}

.main_lhs {
  height: 100vh;

  width: 30rem;

  @media only screen and (max-width: $bp-small) {
    // margin: 0;
    width: 100%;
  }

  min-width: 27rem;
  background-color: #ffffff;
  box-shadow: var(--shadow-dark);
}

.main_rhs {
  //   @media only screen and (max-width: $bp-small) {
  //     // margin: 0;
  //     width: 0px;
  //   }
  opacity: 0;
}
