.notif_container {
  max-height: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  height: 100%;

  margin: 0 0 0 3rem;
  @media only screen and (max-width: $bp-small) {
    margin: 0;
  }
  //   background-color: var(--color-grey-light-1);
  //   min-height: 100vh;

  //   @media only screen and (max-width: $bp-largest) {
  //     margin: 0;
  //     max-width: 100%;
  //     width: 100%;
  //   }

  display: flex;
}

.notif_container .main_lhs {
  height: 100vh;

  width: 30rem;

  @media only screen and (max-width: $bp-small) {
    // margin: 0;
    width: 100%;
  }

  min-width: 27rem;
  background-color: #ffffff;
  box-shadow: var(--shadow-dark);

  .content {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    color: $primary-text;

    &__title {
      //   font-size: 2rem;
      //   font-size: 600;
      color: $primary-text;
    }
    &__img {
      align-self: center;
      justify-self: center;
      height: 25rem;

      width: 100%;
      margin-top: 5rem;
      //   background-size: cover;
      //   background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &__text {
      align-self: center;
      justify-self: center;
      font-weight: bold;
      font-size: 2rem;
    }
    &__subtext {
      margin-top: 2rem;

      text-align: center;
    }
  }

  @include menu;
}

.notif_container .main_rhs {
  //   @media only screen and (max-width: $bp-small) {
  //     // margin: 0;
  //     width: 0px;
  //   }
  opacity: 0;
}
